.about {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.about__images,
.about__content,
.about__slots {
    flex-shrink: 0;
    width: 100%;
    max-width: 100%;
    padding-right: calc(var(--bs-gutter-x) / 2);
    padding-left: calc(var(--bs-gutter-y) / 2);
    margin-top: var(--bs-gutter-y);
}

.g-3 {
    --bs-gutter-y: 1rem;
    --bs-gutter-x: 1rem;
}

.img__about {
    max-width: 100%;
    height: auto;
}

.about_big {
    width: 93%;
}

.about_small {
    width: 75%;
}

.about__images {
    display: grid;
    grid-template-areas:
        "top1 top2"
        "bottom1 bottom2";
    grid-gap: 10px;
}

.about__images .top {
    grid-area: top1 / top2 / span 1 / span 1;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.about__images .top .img {
    display: flex;
    justify-content: left;
    align-items: end;
}

.about__images .bottom {
    grid-area: bottom1 / bottom2 / span 1 / span 1;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.about__images .bottom .img {
    display: flex;
    justify-content: right;
    align-items: start;
}

.about__images .img img {
    max-width: 100%;
}

.about__images {
    display: flex;
    flex-direction: column;
}

.about__images img {
    opacity: 0;
}

.about__images .about_big {
    animation-name: zoomIn;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-delay: 0.5s;
}

.about__images .about_small {
    animation-name: zoomIn;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-delay: 1.5s;
}

.about__title {
    font-family: 'Pacifico', cursive;
    color: var(--primary);
    text-align: left;
    font-weight: 400;
    font-size: 1.25rem;
}

.span__about {
    display: inline-block;
    width: 40px;
    height: 1px;
    border-bottom: 2px solid rgb(254, 161, 22);
    text-align: center;
    margin-bottom: 7px;
}

.welcome__title {
    margin-bottom: 1.5rem;
    font-size: calc(1.375rem + 1.5vw);
    margin-top: 0;
    font-family: 'Nunito', sans-serif;
    font-weight: 900;
    line-height: 0.2;
    color: var(--dark);
}

i.fa-utensils {
    font-size: 30px;
}

.about__text {
    margin-bottom: 1.5rem;
    font-family: 'Nunito', sans-serif;
    color: var(--text-color);
    font-size: 16px;
}

.about__slots {
    display: flex;
    flex-direction: column;
}

.years,
.popular {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    border-left: 4px solid rgb(254, 161, 22);
    padding-left: 1rem;
    padding-right: 1rem;
    margin-bottom: 20px;
}

.years__number,
.popular__number {
    margin-right: 1rem;
    color: var(--primary);
    margin-bottom: 0;
    font-size: calc(1.425rem + 2.1vw);
    font-weight: 800;
    line-height: 1.2;
}

.years__content,
.popular__content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.years__text,
.popular__text {
    font-family: 'Nunito', sans-serif;
    color: var(--text-color);
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
}

.years__second_text,
.popular__second-text {
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: 800;
    line-height: 1.2;
    color: var(--dark);
}

.more__info {
    color: var(--light);
    font-family: 'Nunito', sans-serif;
    font-weight: 500;
    text-transform: uppercase;
    transition: .5s;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-right: 3rem;
    padding-left: 3rem;
    margin-top: 10px;
    background-color: var(--primary);
    font-size: 1rem;
    border-radius: 2px;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
}

@keyframes zoomIn {
    0% {
        opacity: 0;
        transform: scale3d(0.3, 0.3, 0.3);
    }

    100% {
        opacity: 1;
        transform: scale3d(1, 1, 1);
    }
}