.about {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.about__images, 
.about__content {
    flex-shrink: 0;
    width: 100%;
    max-width: 100%;
    padding-right: calc(var(--bs-gutter-x) / 2);
    padding-left: calc(var(--bs-gutter-y) / 2);
    margin-top: var(--bs-gutter-y);
}

.g-3 {
    --bs-gutter-y: 1rem;
    --bs-gutter-x: 1rem;
}

.img__about {
    max-width: 100%;
    height: auto;
}

.about_big {
    width: 93%;
}

.about_small {
    width: 75%;
}

.about__images {
    display: grid;
    grid-template-areas:
        "top1 top2"
        "bottom1 bottom2";
    grid-gap: 10px;
}

.about__images .top {
    grid-area: top1 / top2 / span 1 / span 1;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.about__images .top .img {
    display: flex;
    justify-content: left;
    align-items: end;
}

.about__images .bottom {
    grid-area: bottom1 / bottom2 / span 1 / span 1;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.about__images .bottom .img {
    display: flex;
    justify-content: right;
    align-items: start;
}

.about__images .img img {
    max-width: 100%;
}

.about__images {
    display: flex;
    flex-direction: column;
}

.about__images img {
    opacity: 0;
}

.about__images .about_big {
    animation-name: zoomIn;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-delay: 0.5s;
}

.about__images .about_small {
    animation-name: zoomIn;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-delay: 1.5s;
}

@keyframes zoomIn {
    0% {
        opacity: 0;
        transform: scale3d(0.3, 0.3, 0.3);
    }

    100% {
        opacity: 1;
        transform: scale3d(1, 1, 1);
    }
}