@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;500;600;700;800;900;1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    scroll-behavior: smooth;
    --primary: rgb(254, 161, 22);
    --light: rgb(241, 248, 255);
    --dark: rgb(15, 23, 43);
    --header-toggler: rgba(255,255,255,0.55);
    --header-toggler-border: rgba(255,255,255,0.1);
    --btn-primary: rgb(255, 255, 255);
    --text-color: rgb(58, 67, 73);
    --bs-gutter-y: 3rem;
    --bs-gutter-x: 3rem;
}

.container {
    max-width: 1200px;
    margin: auto;
    width: 100%;
}
