.navbar {
    background-color: var(--dark);
    padding: 1rem 1.5rem;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.navbar__brand {
    font-size: 1.25rem;
    margin-right: 1rem;
}

.navbar__text {
    text-decoration: none;
    font-family: 'Nunito', sans-serif;
}

.navbar__title {
    color: var(--primary);
    font-weight: 900;
}

i.fa-utensils {
    margin-right: 16px;
}

.navbar__collapse {
    flex-grow: 1;
    align-items: center;
    display: none;
    justify-content: flex-end;
}

.navbar__nav {
    display: none;
    align-items: center;
    justify-content: center;
}

.navbar__toggler {
    color: var(--header-toggler);
    border-color: var(--header-toggler-border);
    padding: 0.25rem 0.75rem;
    font-size: 1.25rem;
    line-height: 1;
    background-color: transparent;
    transition: box-shadow 0.15s ease-in-out;
    cursor: pointer;
}

.nav__link,
.dropdown__item {
    text-decoration: none;
    color: var(--dark);
}

.nav__link {
    color: var(--light);
    position: relative;
    margin-left: 25px;
    padding: 35px 0;
    font-size: 15px;
    text-transform: uppercase;
    font-weight: 500;
    transition: .5s;
}

.nav__link.active {
    color: var(--primary);
}

.dropdown {
    margin-right: 10px;
}

.dropdown-menu {
    display: none;
    position: absolute;
    z-index: 1000;
    min-width: 6rem;
    font-size: 17px;
    text-align: center;
    list-style: none;
    background-color: var(--light);
    border: 1px solid var(--dark);
    border-radius: 3px;
}

.dropdown-menu.active {
    display: block;
    margin-right: 5px;
}



.btn__book {
    background-color: var(--primary);
    padding: 6px;
    border-radius: 4px;
    cursor: pointer;
}

.header__content {
    width: 100%;
    background: linear-gradient(rgba(15, 23, 43, .9), rgba(15, 23, 43, .9)), url(../images/bg-header.jpg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}

.header__content_containers {
    padding: 6rem 1rem 3rem 1rem;
    display: flex;
    flex-direction: column;
}

.header__left {
    animation-name: headerInLeft;
    animation-duration: 1s;
    animation-fill-mode: both;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 24px;
}

.slide__left,
.slide__right,
.btn__header {
    color: var(--btn-primary);
    font-family: "Nunito", sans-serif;
}

.slide__left {
    font-weight: 800;
    font-size: calc(1.525rem + 3.3vw);
    line-height: 1.2;
    text-align: center;
    margin-bottom: 8px;
}

.slide__right {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
    padding-bottom: 8px;
    margin-bottom: 24px;
}

.btn__header {
    font-weight: 500;
    text-transform: uppercase;
    text-decoration: none;
    transition: .5s;
    cursor: pointer;
    background-color: var(--primary);
    border-color: var(--primary);
    border: 1px solid transparent;
    padding: 6px 1px;
    font-size: 1rem;
    border-radius: 2px;
    text-align: center;
}

.header__right {
    margin-top: 48px;
    padding: 0 24px;
    display: flex;
    justify-content: center;
}

.img__fluid {
    width: 75%;
}

.header__right img {
    animation: imgRotate 50s linear infinite;
    animation-duration: 50s;
    animation-timing-function: linear;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    animation-direction: normal;
    animation-fill-mode: none;
    animation-play-state: running;
    animation-name: imgRotate;
}

@keyframes headerInLeft {
    0% {
        transform: translate3d(-100%, 0, 0);
        visibility: visible;
    }

    100% {
        transform: translateZ(0);
    }
}

@keyframes imgRotate {
    100% {
        transform: rotate(360deg);
    }
}

@media (min-width: 1100px) {
    .header__content_containers {
        flex-direction: row;
        padding-top: 48px;
    }

    .header__right {
        margin-top: 0;
    }

    .navbar__toggler {
        display: none;
    }

    .navbar__collapse,
    .navbar__nav {
        display: flex;
    }

    .img__fluid {
        width: 100%;
    }
}